.card {
	padding-bottom: 7.4em;
}

.card__title {
	margin-top: 0.4em;
	margin-bottom: 0.45em;
}

.card__main {
	display: flex;
	justify-content: space-between;
}

.card__main-left {
	flex: 0 1 48.5%;
}

.card__slider-main {
	position: relative;
	width: 544px;
	height: 480px;
	margin-bottom: 1.1em;
	padding: 1.6em;
	background-color: #fff;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	box-shadow: 0px 1px 2px 0px #00000014;
}

.slider__main-img {
	position: absolute;
	top: 21.4%;
	left: 20.4%;
}

.slider__increase {
	position: absolute;
	left: 16px;
	bottom: 16px;
	padding: 1em;
	border: 1px solid #EBEBEB;
	border-radius: 10px;
	background-color: #fff;
}

.card__slider-transition {
	display: flex;
	justify-content: space-between;
	width: 544px;
	margin: 0 -0.5em;
}

.card__slider-column {
	padding: 0 0.5em;
}

.card__slider-item {
	width: 82px;
	height: 82px;
	display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   background-color: #fff;
}

.card__right {
	flex: 0 1 48.5%;
}

.slick-prev, .slick-next {
	top: -53px;
	z-index: 0;
}

.slick-prev {
	left: 428px;
}

.slick-next {
	right: 13px;
}

.card__main-right {
	flex: 0 1 48.5%;
}

.card__text p {
	padding-bottom: 1.43em;
}

.card__price {
	font-family: Roboto;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.16em;
	margin-bottom: 1.63em;
}

.card__purchase {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card__purchas-row {
	display: flex;
	justify-content: space-between;
}

.card__purchas-row a {
	font-family: Roboto;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.14;
	border-radius: 6px;
}

.card__buy {
	position: relative;
}

.card__buy a {
	padding: 1.4em 5.6em 1.4em 3.5em;
	background-color: #255EF0;
	color: #FFFFFF;
}

.card__buy .icon {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 19%;
}

.card__cart {
	position: relative;
}

.card__cart a {
	padding: 1.4em 5.9em 1.4em 3.85em;
	color: #3D3D3D;
	background-color: #F8CA29;
}

.card__cart .icon {
	position: absolute;
	width: 20px;
	height: 20px;
	right: 19.9%;
}

.card__special-price {
	width: 100%;
	margin-top: 5.1em;
}

.card__special-price a {
	padding: 1.28em 12.2em;
	border: 2px solid #255EF0;
	color: #255EF0;
}

.card__info {
	margin-top: 5.4em;
	margin-bottom: 3.2em;
	width: 65.7%;
}

.card__info-menu {
	width: 70%;
}

.card__info-list {
	display: flex;
	justify-content: space-between;
}

.card__info-list {
	padding-bottom: 0.7em;
	border-bottom: #C4C4C4 1px solid;
}

.card__info-link {
	font-family: Roboto;
	font-size: 1.6rem;
	line-height: 1.12;
	color: #000000;
}

.card__info-link:focus, .card__info-link:hover {
	padding-bottom: 0.35em;
	border-bottom: #255EF0 3px solid;
	border-radius: 2px;
}

.card__info-text {
	margin-top: 2.06em;
}

.card__info-text p {
	padding-bottom: 1.43em;
}

.card__video-slider {
	display: flex;
	justify-content: space-between;
	margin: 0 -1.6em;
}

.card__video-column {
	position: relative;
	padding: 0 1.6em;
}

.card__video-item {
	display: flex;
   justify-content: center;
   align-items: center;
	height: 346px;
	border-radius: 10px;
	background-color: #fff;
}

.card__video-play {
	position: absolute;
	left: 236px;
	top: 134px;
	padding: 2.8em 2.7em 2.8em 3.2em;
	border-radius: 50%;
	background-color: #F8CA29;
}

.card__video-slider .slick-arrow{
	position: absolute;
	top: 50%;
	right: 30%;
	height: 46px;
	width: 46px;
	border-radius: 10px;
	box-shadow: 0px 1px 34px 0px #0000001F;
	cursor: pointer;
	background-color: #fff;
}

.card__video-slider .slick-arrow:hover,
.card__video-slider .slick-arrow:active,
.card__video-slider .slick-arrow:focus {
	border: 1px solid #255EF0;
	
}

.card__video-slider .slick-arrow::before {
	content: '';
	position: absolute;
	border: solid #3D3D3D;
   border-width: 0 1.6px 1.6px 0;
   display: inline-block;
   padding: 0.3em 0.2em 0.2em 0.3em; 
}

.card__video-slider .slick-prev{
	position: absolute;
	left: -50px;
	z-index: 2;
}

.card__video-slider .slick-prev::before {
	position: absolute;
	left: 20px;
	top: 16px;
	transform: rotate(135deg);
}

.card__video-slider .slick-next{
	position: absolute;
	right: -50px;
	z-index: 2;
}

.card__video-slider .slick-next::before {
	position: absolute;
	right: 20px;
	top: 16px;
	transform: rotate(-45deg);
}

.card__download {
	margin-top: 7.4em;
	display: flex;
}

.card__download-column {
	padding-right: 2em;

}
.card__download-item {
	display: flex;
	padding: 1.6em 2.6em 0 1.66em;
	background-color: #255EF0;
	border-radius: 10px;
}

.card__download-img {
	padding-right: 1.8em;
}

.card__download-file {
	display: flex;
	color: #fff;
	font-family: Roboto;
	font-size: 1.4rem;
	line-height: 1.28;
	padding-bottom: 0.42em;
}

.card__download-file a {
	color: #fff;
}

.card__download-file p {
	padding-left: 0.35em;
	opacity: 0.3;
}

.card__download-batton a {
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 1.14;
	color: #F8CA29;
}

.card__form {
	padding-top: 6.8em;
}
/* //////////////////////////// */


/* .main {
	background: url(../img/main-img/fone.png);
	margin-top: 2.9em;
	padding: 2em 0 6.8em 0;
}

.main__about-as {
	margin: 1.8em 0 5.4em 0;
}

.main__about-img {
	max-width: 100%;
	padding: 2em 0 1.6em 0;
}

.main__text {
	width: 100%;
	max-width: 736px;
	margin: 0 auto;
}

.main__text p {
	padding-top: 2.5em;
}

.main__text ul {
	padding-top: 1.5em;
}

.main__application span{
	padding-left: 1.1em;
}

.main__application::before {
	color: #255EF0;
	content: "\2022";
	font-size: 1.3rem;
	padding-right: 1.1em;
}

.main__ask {
	background: #255EF0 url(../img//about-img/img-ask.png) no-repeat;
	background-position: 9% 100% ;
	display: flex;
	justify-content: space-between;
	padding: 4em 4.6em 3.8em 4em;
	border-radius: 10px;
}

.main__ask-left {
	width: 38%;
	color: #FFFFFF;
}

.ask__title {
	margin-bottom: 0.3em;
}

.ask-text {
	font-weight: 400;
	line-height: 1.5;
	padding-right: 6em;
}

.main__ask-right {
	width: 50%;
	padding-top: 1.5em;
}

textarea.input {
	padding-top: 1.3em;
	height: 127px;
	width: 100%;
	resize: none;
	margin-bottom: 0.7em;
}



.ask__wraper-row {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 1.6em;
}

.ask__wraper-row .ask__wraper {
	width: calc(50% - 5px);
} 

.ask-btn {
	padding: 1.28em 5.5em;
}

.ask__agree {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 1em;
}

.agree__text {
	font-family: Roboto;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.33;
	color: #FFFFFF;
}

.agree__politics {
	font-weight: 300;
	color: #F8CA29;
}

.agree__politics:hover {
	text-decoration: underline;
	font-weight: normal; 
} */