body{
	font-family: 'Roboto', 'Inter' sans-serif;
}

.link {
	font-family: Roboto;
	font-size: 1.4rem;
	line-height: 1.14;
	color: #3D3D3D;
}

.h1 {
	font-family: Roboto;
	font-size: 4.4rem;
	line-height: 1.36;
	color: #3D3D3D;
}

.h2 {
	font-family: Roboto;
	font-size: 2.1rem;
	font-weight: 300;
	line-height: 1.04;
	color: #3D3D3D;
}

.text {
	font-family: Roboto;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 1.6;
}

.crumbs-list {
	display: flex;
}

.crumbs-list li+li::before {
	padding-right: 1.23em;
	color: #255EF0;
	content: "\2022";
	font-size: 1.3rem;
}

.crumbs-link {
	padding-right: 1.14em;
}

.form-title {
	font-family: Roboto;
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1.3;
	color: #fff;
}

.input {
	font-family: Roboto;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.1;
	width: 100%;
	border-radius: 6px;
	padding: 1.28em 1.1em;
}

.header {
	width: 100%;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.header__top {
	display: flex;
	justify-content: space-between;
	padding-top: 2.1em;
	padding-bottom: 2.9em;
}

.header__nav {
	display: flex;
}

.header__link {
	padding-right: 1.7em;
}

.header__connection {
	display: flex;
}

.header__connection li {
	display: flex;
}

.header__telephone-one {
	padding-left: 4.97em;
}

.header__telephone-tow {
	padding-left: 2.57em;
}

.header__email {
	font-family: Roboto;
	font-size: 1.6rem;
	line-height: 1.18;
	color: #3D3D3D;
	padding-left: 1.1em;
}

.header__number {
	font-family: Roboto;
	font-size: 1.8rem;
	line-height: 1.16em;
	color: #3D3D3D;
	padding-left: 0.93em;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.header__bottom-left {
	display: flex;
	align-items: center;
}

.header__logo img{
	max-width: 100%;
}

.header__name {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
}

.header__h2 {
	margin-left: -0.6em;
	font-weight: 500;
}

.header__bottom-right {
	display: flex;
	justify-content: space-between;
}

.header__catalog {
	
}

.header__catalog-btn {
	display: flex;
	justify-content: space-between;
	height: 50px;
	width: 160px;
	align-items: center;
	padding: 0 1.5em 0 1.28em ;
}

.batton {
	font-family: Roboto;
	font-size: 1.4rem;
	line-height: 1.14;
	color: #3D3D3D;
	font-weight: 500;
	border-radius: 6px;
}

.btn--yellow {
	background-color: #F8CA29;
}

.btn--yellow:hover {
	background-color: #FFD748;
}

.header__catalog-link:visited {
	color: #3D3D3D;
}

.header__menu-burger {
}

.menu-burger {
	position: relative; 
	width: 18px; 
	height: 18px;
	display: block;
}

.menu-burger span,
.menu-burger:after, 
.menu-burger:before {
	 height: 1.6px;
	 width: 100%;
	 position: absolute;
	 background: #3D3D3D;
	 margin: 0 auto;
	 left: 0;
	 right: 0;
 }

.menu-burger:after, 
.menu-burger:before {
		content: '';
}

.menu-burger::before {
	bottom:0.42em;
}

.menu-burger:after {
	top: 0.42em;
}

.header__menu-burger.menu-burger.open-menu span {
	opacity:0; 
	transition: 0.5s; 
}

.header__menu-burger.menu-burger.open-menu:before {
	transform: rotate(45deg);
	top: 0.4em;
	transition: 0.4s;
}

.header__menu-burger.menu-burger.open-menu:after {
	transform: rotate(-45deg);
	bottom: 2.9em;
	transition: 0.4s;
}

.header__catalog-menu {
	display: none;
}

.header__catalog-menu.open-menu {
	position: absolute;
	display: block;
	background-color: #fff;
	border-radius: 10px;
	left: 0;
	top: calc(100%-1.2rem);
}

.header__chapter {
	height: 544px;
	width: 1120px;
	padding-left: 4em;
	padding-top: 4em;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.header__chapter-name {
	margin-bottom: 4.4em;
}

.chapter__link {
	font-family: Roboto;
	font-size: 1.6rem;
	line-height: 1.6;
	color: #3D3D3D;
	padding-bottom: 0.5em;
}

.product__link {
	font-family: Roboto;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.57;
	padding-bottom: 0.28em;
	color: #3D3D3D;
}

.header__categories {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	width: 686px;
	border-radius: 6px;
	border: 1px solid #EBEBEB;
	margin: 0 1.6em;
	position: relative;
}

.header__categories form {
	display: flex;
	width: 100%;
}

.header__categories-left {
	min-width: 22.2%;
}

.header__allcategories {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1.4em 0 1.28em;
}

.header__allcategories-link {
	font-weight: 500;
}

.header__allcategories-btn {
	padding-top: 0.1em;
}

.categories-btn.open__categories {
	transform: rotate(180deg);
}


.header__categories-menu {
	display: none;
}

.header__categories-menu.open__categories {
	display: block;
	position: absolute;
	left: 0;
	top: 5.8rem;
	border: 1px solid #EBEBEB;
	border-radius: 6px;
	background-color: #FFFFFF;
	height: 403px;
	width: 686px;
	z-index: 1;
}

.header__categories-list {
	
	padding: 1.8em;
}

.header__categories-list li {
	padding-bottom: 2.3em;
}

.categories__link {
	font-weight: 500;
}

.header__categories-right {
	position: relative;
	width: 87.2%; 
	padding: 0 1.6em;
	height: 100%;
	flex-grow: 1;
}

.header__categories-right::before {
	content: " ";
	position: absolute;
	width: 1px;
	height: 34px;
	background-color: #C4C4C4;
	left: 0;
	top: 50%;
   transform: translateY(-50%);
}

.header__search {
	width: 100%;
	height: 100%;
	opacity: 30%;
	color: #3D3D3D;
	opacity: 1;
}

.header__search-btn {
	position: absolute;
	right: 0;
	top: -6px;
	background-color: #fff;
	padding: 0.08em 1.2em;
	color: #3D3D3D;
}

.header__search-btn:hover {
	color: #255EF0;
}

.header__search-btn .icon {
	width: 24px;
	height: 24px;
}

.icon{
	display: inline-block;
	fill: none;
}

.icon svg {
	width: 100%;
	height: 100%;
}

.header__cart {
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #EBEBEB;
	border-radius: 6px;
	width: 50px;
	height: 50px;
	position: relative;
}

.header__cart .icon {
	width: 24px;
	height: 24px;
}

.cart-counter {
	position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #255EF0;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border: 1px solid #fff;
}


/* product */

.product {
	background: url(../img/main-img/fone.png);
	margin: 2.8em 0 6em 0;
}

.product__top {
	display: flex;
	justify-content: space-between;
	padding-top: 5.6em;
	padding-bottom: 4.1em;
}

.product__top-left {
	width: 48.8%;
}

.product__title {
	padding-bottom: 0.45em;
}

.product__top-right {
	height: 209px;
	width: 352px;
	border-radius: 10px;
	background-color: #255EF0;
	background-image: url(../img/main-img/product-img.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

.product__consultation {
	display: flex;
	flex-direction: column;
	padding: 2.4em 5.2em 2.4em 2.4em;
}

.product__range {
	font-family: Roboto;
	font-size: 1.8rem;
	line-height: 1.44;
	letter-spacing: 0.01em;
	margin-bottom: 2.6em;
	color: #fff;
}

.product__consultation-link {
	padding: 1.4em 1.7em 1.4em 1.7em;
	font-weight: 500;
}

.product__main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-bottom: 5.5em;
}

.product__column {
	flex: 0 1 32%;
	margin-bottom: 2em;
}

.product__column-four {
	flex: 0 1 23.6%;
}

.product__item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	background-color: #fff;
	padding-left: 2.8em;
	padding-right: 2.6em;
	height: 180px;
}

.product__item-four {
	flex-direction: column-reverse;
	height: 262px;
	padding-top: 2em;
	padding-bottom: 2.7em;
}

.product__equipment {
	padding-right: 0.5em;
	color: #3D3D3D;
}

.product__equipment-four {
	align-self: start;
	
}

.product__img {
	align-items: center;
}

/* multimedia */

.multimedia__title {
	width: 60.6%;
	margin-bottom: 0.45em;
}

.multimedia__text {
	width: 79%;
	margin-bottom: 2.4em;
}

.multimedia__slider {
	margin: 0 -1.6em;
}

.multimedia__slider-column {
	padding: 0 1.6em;
}

.multimedia__slider-item {
	display: flex;
	justify-content: space-between;
	height: 346px;
	border-radius: 10px;
	background-color: #255EF0;
}

.multimedia__slider-left {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 3.2em 3.7em 4.4em 2.6em;
	width: 34%;
}

.multimedia__slider-top {
	font-family: Roboto;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 1.4;
	color: #FFFFFF;
}

.multimedia__slider-bottom {
}

.multimedia__price {
	font-family: Inter;
	font-size: 2.6rem;
	font-weight: 600;
	line-height: 1.2;
	color: #FFFFFF;
	padding-bottom: 1.3em;
}

.multimedia__button {
}

.multimedia__more {
	padding: 1.2em 1.7em;
}

.multimedia__slider-right {
	width: 65%;
}

.multimedia__item {
	background-color: #FFFFFF;
	border: 10px solid #255EF0;
	border-radius: 18px;
	height: 100%;
}

.multimedia__img img {
	display: block;
	margin: 0 auto;
}

.slick-dots li.slick-active button::before{
	border-radius: 16px;
	border: 4px solid #255EF0;
	color: transparent;
	width: 14px;
	height: 14px;
	top: 27px;
}

.slick-dots li {
	margin-left: 0.9em;
	margin-right: 0.9em;
}

.slick-dots li button:before {
	top: 24px;
	color: #C4C4C4;
}


.slick-arrow{
	position: absolute;
	top: 50%;
	right: 30%;
	height: 46px;
	width: 46px;
	border-radius: 10px;
	box-shadow: 0px 1px 34px 0px #0000001F;
	cursor: pointer;
}

.slick-arrow:hover,
.slick-arrow:active,
.slick-arrow:focus {
	border: 1px solid #255EF0;
	
}

.slick-arrow::before {
	content: '';
	position: absolute;
	border: solid #3D3D3D;
   border-width: 0 1.6px 1.6px 0;
   display: inline-block;
   padding: 0.3em 0.2em 0.2em 0.3em; 
}

.slick-prev{
	position: absolute;
	left: -50px;
	z-index: 2;
}

.slick-prev::before {
	position: absolute;
	left: 20px;
	top: 16px;
	transform: rotate(135deg);
}

.slick-next{
	position: absolute;
	right: -50px;
	z-index: 2;
}

.slick-next::before {
	position: absolute;
	right: 20px;
	top: 16px;
	transform: rotate(-45deg);
}


/* interactive */

.interactive {
	margin-bottom: 5.7em;
}

.interactive__title {
	width: 57.7%;
	margin-bottom: 0.45em;
	margin-top: 2em;
}

.interactive__text {
	width: 92%;
	margin-bottom: 0.6em;
}

.interactive__text p:first-child {
	padding-bottom: 1.5em;
}

.interactive__read {
	display: flex;
	align-items: center;
}

.interactive__read a {
	color: #255EF0;
}

.interactive__read a:hover {
	text-decoration: underline;
}

.interactive__read a:active {
	color: #255EF0;
}

.interactive__arrow {
	padding-left: 0.56em;
	align-self: center;
}

.interactive__arrow img {
	display: block;
	margin: 0 auto;
}

/* footer */

.footer-content {
	font-family: Roboto;
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 1.4em;
	color: #3D3D3D;
}

.footer {
	background-color:#EBEBEB;
	padding-top: 7.7em;
	padding-bottom: 2.4em;
	height: 382px;
}

.footer__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8.2em;
}

.footer__left {
	width: 22%;
}

.footer__logo {
	display: flex;
	align-items: center;
}

.footer__logo-img {
	max-width: 100%;
}

.footer__name {
	display: flex;
	flex-direction: column;
	padding-left: 1em;
}

.footer__h2 {
	margin-left: -0.6em;
	font-weight: 500;
}

.footer__text {
	margin-top: 1.3em;
}

.footer__right {
	width: 58%;
	display: flex;
}

.footer__item {
	width: 45%;
}

.footer__title {
	font-family: Roboto;
	font-size: 1.6rem;
	line-height: 1.2;
	margin-bottom: 2.5em;
}

.footer__nav {
	display: flex;
	flex-wrap: wrap;
}

.footer__nav li {
	width: 50%;
	margin-bottom: 1.4em;
}

.footer__connection-nav li {
	display: flex;
	margin-bottom: 1.4em;
}

.footer__connection-nav img {
	padding-right: 1.3em;
}

.footer__bottom ul{
	display: flex;
	justify-content: space-between;
}

.developed__text {
	padding: 0.2em 0 0.35em 0;
	text-align: center;
}

/* popup */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	display: none;
}

.popup__application {
	position: absolute;
	background: #255EF0;
	width: 404px;
	height: 476px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.popup__container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 4em 4.8em 4.8em 4.8em;
}

.popup__close {
	position: relative;
	height: 8px; 
	width: 8px;  
	display: flex;
	flex-direction: column;
	justify-content: center;
	cursor: pointer;
}

.popup__close::before,
.popup__close::after {
	position: absolute;
	content: '';
	top: -2.4em;
	left: 33.2em;
	width: 100%;
	height: 1.4px;
	background-color: #fff;
}

.popup__close::before {
	transform: rotate(45deg);
}

.popup__close::after {
	transform: rotate(-45deg);
}

.no-scroll {
	overflow-y: hidden;
}

.popup__text {
	font-weight: 400;
	padding-top: 0.6em;	
	padding-bottom: 2.75em;
	color: #fff;
}

.popup__fone,
.popup__email {
	width: 100%;
}

.popup__email {
	margin: 1.14em 0;
}

.popup__callback {
	margin-bottom: 3.4em;
	margin-top: 1.8em;
	
}

.popup__link {
	padding: 1.28em 6.7em;
}

.popup__agree {
	font-family: Roboto;
	font-size: 1.2rem;
	line-height: 1.33;
	color: #fff;
}

.popup__agree a {
	font-weight: 300;
	color: #F8CA29;
}

/* popup-tow */

.popup-two {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0,0,0,0.8);
}

.popup-two__application{
	width: 404px;
	height: 347px;
	border-radius: 10px;
	background-color: #255EF0;
	background-image: url(../img/main-img/back-img.png);
	background-repeat: no-repeat;
	background-position: 29% 35%;
}

.popup-two__container {
	padding: 3.5em 9.3em 0 4.8em;
}

.popup-two__text {
	color: #fff;
	font-weight: normal;
	margin-top: 0.6em;
}

.popup-two__container .popup__close::before,
.popup-two__container .popup__close::after {
	top: -1.8em;
}